body {
  margin: 0;
  background-image: url("./assets/DoraPics/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .header, .game, .statsBox, .stats, .main, .row, .cards{
  border: 1px solid pink;
} */
.header {
  height: 15vh;
  font-size: 3rem;
  text-align: center;
}
.cards {
  border: 1px solid hotpink;
}
.game {
  display: flex;
  height: 85vh;
  margin: auto;
}
.stats,
.statsPlayed,
.statsAttempt,
.statsAccuracy {
  border: 1px solid hotpink;
}
.statsBox {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.statsTitle {
  font-size: 2rem;
}
.stats,
.statsPlayed,
.statsAttempt,
.statsAccuracy {
  display: flex;
  height: 80%;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: pink;
  /* border: 1px solid skyblue; */
}
.main {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  height: 100%;
  margin: 2% 0%;
}
.cards {
  width: 100px;
  height: 100%;
  margin: 0% 2%;
  position: relative;
}
.cardFront,
.cardBack,
.bag,
.bathroom,
.book,
.cat,
.desk,
.dog,
.house,
.pen,
.shoe {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
.cardBack {
  background-image: url("./assets/DoraPics/cardBack.jpg");
}
.hidden {
  display: none;
}
.bag {
  background-image: url("./assets/DoraPics/bag.jpg");
}
.bathroom {
  background-image: url("./assets/DoraPics/bathroom.jpg");
}
.book {
  background-image: url("./assets/DoraPics/book.jpg");
}
.cat {
  background-image: url("./assets/DoraPics/cat.png");
}
.desk {
  background-image: url("./assets/DoraPics/desk.jpg");
}
.dog {
  background-image: url("./assets/DoraPics/dog.jpg");
}
.house {
  background-image: url("./assets/DoraPics/house.png");
}
.pen {
  background-image: url("./assets/DoraPics/pen.jpg");
}
.shoe {
  background-image: url("./assets/DoraPics/shoes.jpg");
}
.winModal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: darkblue;
  color: yellow;
  font-size: 12rem;
  text-align: center;

}
